<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
  <p class="menu-label is-hidden-touch">Navegação</p>
  <ul class="menu-list">
    <li>
      <%= link_to orders_path do %>
        <span class="icon"><i class="fa fa-home"></i></span> Pedidos
      <% end %>
    </li>
     <li>
      <%= link_to users_path do %>
        <span class="icon"><i class="fa fa-user"></i></span> Usuários
      <% end %>
    </li>
  </ul>
</aside>